<!--<button class="btn btn-primary" type="button" onclick="addSomain()">新增</button>-->

<div class="rightinfo">
    <div class="itab" href="#tab">
        <ul>
            <li><a    onclick="GoSomain(this)">货到付款</a></li>
            <li><a class="selected" onclick="GoSomain(this)">款到发货</a></li>
            <li><a  onclick="GoSomain(this)">预付款发货</a></li>
        </ul>
    </div>
</div>
<table class="table" id="somainListDiv">
    <thead>
    <tr>
        <th>编号<span class="sort"><img src="./images/px.gif" /></span></th>
        <th>采购单编号</th>
        <th>创建时间</th>
        <th>顾客名称</th>
        <th>创建用户</th>
        <th>附加费用</th>
        <th>采购产品总价</th>
        <th>采购单总价格</th>
        <th>付款方式</th>
        <th>处理状态</th>
        <th>操作</th>

    </thead>
    <tbody id="tableBody"></tbody>
</table>
<div>
    <ul id="page"></ul>
</div>
<script id="somainEndListTemplate" type="text/html">
    {{each data}}
    <tr>
        <td>{{$index+1}}</td>
        <td>{{$value.soId}}</td>
        <td>{{$value.createTime}}</td>
        <td>{{$value.name}}</td>
        <td>{{$value.account}}</td>
        <td>{{$value.tipFee}}</td>
        <td>{{$value.productTotal}}</td>
        <td>{{$value.soTotal}}</td>
        <td>{{$value.payType}}</td>
        <!--            <td>{{$value.status}}</td>-->
        {{if $value.status==1}}
        <td>新增</td>
        {{/if}}
        {{if $value.status==2}}
        <td>已收货</td>
        {{/if}}
        {{if $value.status==3}}
        <td>已付款</td>
        {{/if}}
        {{if $value.status==4}}
        <td>已了结</td>
        {{/if}}
        {{if $value.status==5}}
        <td>已预付</td>
        {{/if}}
        <td><input type="button" id="endSomain" value="了结"  onclick="endSomain('{{$value.soId}}')"/>
        </td>
    </tr>
    {{/each}}
</script>
<script>
    $(function () {
        showPage({
            currentPage: 1,
            pageSize: 2,
            url: '/somainsEnd2',
            templateId: 'somainEndListTemplate',
            contentId: 'tableBody'
        })
    })
</script>